body {
    font-family: Arial, sans-serif;
    background-image: url('water.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2883a7;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.bakery-closing {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    border-radius: 8px;
    color: #333;
}

.header {
    background-image: url('cake.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
}

footer {
    text-align: center;
    color: white;
}

